:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 600px) {
  .nav-link {
    font-size: 24px;
  }
  .navbar-brand {
    font-size: 30px;
  }

  .navigation-links a,
  .primary-link {
    padding: 23px 17px;
    font-size: 20px;
  }
  h3 {
    font-size: 30px;
    margin: 20 0 20 0;
  }
}

body {
  margin-top: 100px;
  margin-bottom: 50px;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 58px;
}

h2 {
  font-size: 40px;
  opacity: 0.9;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}
h4 {
  font-size: 40px;
  opacity: 0.9;
  text-align: center;
  margin-top: 30px;
}

p {
  padding: 0px;
  line-height: 1.5;
}
a:hover {
  color: rgb(0, 2, 116);
}
.nav-link {
  font-size: 18px;
}
.nav-hover:hover {
  color: var(--primary-color);
  font-weight: bold;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}
.about-paragraphs p {
  margin-right: 50px;
  margin-left: 50px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.text-center {
  text-align: center !important;
}
.primary-link {
  background: var(--primary-color);
  color: white;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  box-shadow: var(--box-shadow);
}
.weather-photo {
  padding-top: 25px;
}
